<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProfile name="local,test">
        <!-- 콘솔 출력용 Appender -->
        <include resource="org/springframework/boot/logging/logback/defaults.xml" />
        <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

        <logger name="com.runky" level="DEBUG"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <springProperty name="LOG_PATH" source="LOG_PATH" defaultValue="logs"/>

        <include resource="org/springframework/boot/logging/logback/defaults.xml" />
        <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

        <!-- 로그 파일 저장용 RollingFileAppender -->
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_PATH}/runky-server.log</file>

            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- 로그 파일을 날짜별로 분리 -->
                <fileNamePattern>${LOG_PATH}/runky-server-%d{yyyy-MM-dd}.log</fileNamePattern>
                <!-- 최대 보관 개수 설정 (예: 14일) -->
                <maxHistory>14</maxHistory>
                <!-- 파일 크기 제한 (최대 크기 이후 롤링) -->
                <totalSizeCap>100MB</totalSizeCap>
            </rollingPolicy>

            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>
</configuration>
